.page
    display: flex
    flex-direction: column

    
//title for the whole page
.top-title 
    text-align: center
    margin: 60px 0 -4% 0
    img
        margin: 0 0 -12% 0
        max-width: 300px
        max-height: 300px

.content
    display: flex
    flex-direction: row
    flex-wrap: wrap
    margin: 4% 4%

.pCard
    margin: 10% auto
    border-radius: 10px
    align-content: center
    padding: 0% 5%
    z-index: 2
    width: 37%
    // border-right: outset #808080 1px
    // border-bottom: outset #808080 1px
    // box-shadow: 49px 65px 89px -73px rgba(0,0,0,0.33)


//title for the cards
.title
    text-align: center

.second-block
    display: flex
    flex-direction: row
    padding: 0 2%
    // border: red 1px solid


.descriptor
    font-size: 12px
    margin: 5% 0
    border-right: 2px black solid
    border-radius: 
    padding: 2%
    line-height: 1.7

.tag-div
    margin: 2%
    padding-top: 2%
    width: 150%

.tag
    font-size: 60%
    text-align: left
    transition: .7s
    -webkit-text-stroke: #B8C6DB black 1px

.tag:hover
    transition: .7s
    color: #B8C6DB

.image-cart
    display: flex
    height: 210px
    width: 450px
    margin: 0 auto
    filter: brightness(88%)
    transition: .5s

.image-cart:hover
    transition: .5s
    filter: brightness(100%)

.picture
    border: outset 2px black
    max-width: 320px
    max-height: 200px

.image-next-button
    background: rgba( 213, 213, 213 , .3)
    opacity: .3
    
.call2action
    text-align: center
    a
        font-size: 12px
        cursor: pointer
        text-decoration: underline
        transition: 1.4s

.call2action a:hover
    transition: 2.4s
    color: #B8C6DB
