.page
    display: flex
    flex-direction: column

// .title


// .content


.pCard
    margin: 5% auto
    // border-right: outset #808080 1px
    // border-bottom: outset #808080 1px
    border-radius: 10px
    align-content: center
    box-shadow: 49px 65px 89px -73px rgba(0,0,0,0.33)
    padding: 5%
    z-index: 2

.title
    text-align: center
    margin-top: 50px

.descriptor
    padding: 0 15%
    font-size: 14px
    margin: 5% 0

.tag-div
    text-align: right
    margin: 2% 2%

.tag
    font-size: 60%
    padding: .5% 1%
    margin: .5%
    background: #D4D7D6
    border-radius: 30px

.image-cart
    display: flex
    height: 300px
    width: 450px
    margin: 0 auto
    filter: brightness(88%)
    transition: .5s

.image-cart:hover
    transition: .5s
    filter: brightness(100%)

.picture
    border: outset 2px black
    max-width: 450px
    max-height: 300px

.image-next-button
    background: rgba( 213, 213, 213 , .3)
    opacity: .3
    