.page
    display: flex
    flex-direction: column

// .title


// .content


.pCard
    margin: 5% auto
    border-right: solid #808080 1px
    border-bottom: solid #808080 1px
    border-radius: 10px
    align-content: center
    box-shadow: 49px 65px 89px -73px rgba(0,0,0,0.75)
    padding: 5%
    z-index: 2

.title
    text-align: center