.home

.about 
    opacity: .95
    display: flex
    flex-direction: row
    margin: 6% auto
    width: 63%
    height: 64%
    -webkit-box-shadow: 10px 10px 30px -10px rgba(0,0,0,0.75);
    moz-box-shadow: 10px 10px 30px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 30px -10px rgba(0,0,0,0.75);
    padding: 3%
    img  
        border-radius: 50%
        max-width: 14em
        margin: 0 auto
        border: .5em solid black

.info
    margin:  0 auto

.main
    display: flex
    margin-left: 5%
    padding: 0px 10px
    border: solid red 1px
    height: auto
    transition: .6s
    background: white

.main:hover
    border: solid green 1px
    transition: .6s

.nav-bar
    border-right: black 2px solid
    background-color: #d3d3d3
    height: 100%
    width: 50px
    position: fixed
    z-index: 1
    top: 0
    left: 0
    overflow-x: hidden
    transition: 1.7s
    b
        opacity: 0
    i
        opacity: 0
    #initials
        border: solid black 2px
        margin: 0 auto
        width: 40px
        font-weight: 555
        background: #feffa3
        position: relative
        transition: 7s

        

.nav-bar:hover
    transition: 1.7s
    width: 18%
    b
        transition: 8s
        opacity: 1
        z-index: 3
    i 
        transition: 8s
        opacity: 1
        z-index: 3
    #initials
        opacity: 0
        transition: .1s
    .picture-box
        background: #a3feff
        background-blend-mode: lighten
        transition: 3s
    h5 
        transition: 3s
        opacity: 1
    img 
        margin-left: 10px
        
.link
    justify-content: space-around
    display: flex
    flex-direction: row
    border-radius: 10px
    cursor: pointer
    border-right: solid 2px black
    border-top: solid 2px black
    
    margin: 20px 5px
    text-align: center
    img 
        margin-left: 40px
        min-width: 30px
        max-width: 30px
    h5 
        opacity: 0
        transition: .3s
    


.link:hover
    opacity: .55


.picture-box
    transition: 2s
    border-bottom: black 2px solid
    border-right: black 2px solid
    background: #ffd2a3
    height: 230px
    margin-bottom: 20%
    top: 0
    text-align: center
    i
        font-size: 60%
        
