.home

.about 
    opacity: .95
    display: flex
    flex-direction: row
    margin: 6% auto
    width: 63%
    height: 64%
    -webkit-box-shadow: 10px 10px 30px -10px rgba(0,0,0,0.75);
    moz-box-shadow: 10px 10px 30px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 30px -10px rgba(0,0,0,0.75);
    padding: 3%
    img  
        border-radius: 50%
        max-width: 14em
        margin: 0 auto
        border: .5em solid black

.info
    margin:  0 auto

.main
    display: flex
    margin-left: 22%
    padding: 0px 10px
    border: solid red 1px
    height: auto
    transition: .6s
    background: white

.main:hover
    margin-left: 5%
    border: solid green 1px
    transition: .6s

.nav-bar
    background-color: grey
    height: 100%
    width: 5%
    position: fixed
    z-index: 1
    top: 0
    left: 0
    overflow-x: hidden;
    transition: .6s
    h5
        border-radius: 10px
        cursor: pointer
        border-right: solid 2px black
        border-top: solid 2px black
        margin-bottom: -20px
        text-align: center

.nav-bar:hover
    transition: .6s
    width: 22%


.link:hover
    opacity: .55


.picture-box
    border: 1px solid red
    background-color: white
    height: 230px
    margin-bottom: 20%
    top: 0